# Response file for the SAS Deployment Wizard
# Created: May 23, 2019 7:38:11 PM
#
# Responses with multiple options are separated with / characters.

# Select Deployment Task
# Select the deployment task you would like to perform.
#START_TASK=install/depot/manage
 START_TASK=install

# Specify SAS Home
# Specify the location where SAS software will be installed on this machine.
#SAS_HOME=<full path>
#SAS_HOME=/mnt/sas/nfs/SASHOME
 SAS_HOME=

# Select Deployment Type
# Select the type of deployment you want to perform.
#DEPLOYMENT_TYPE=planned/nonplanned/additional
 DEPLOYMENT_TYPE=planned
#PLANNED_INSTALL=yes/no
 PLANNED_INSTALL=no
#PLANNED_CONFIGURE=yes/no
 PLANNED_CONFIGURE=yes

# Specify Deployment Plan
# Specify a customized or standard deployment plan.
#PLAN_TYPE=customized/standard
 PLAN_TYPE=customized
#CUSTOMIZED_PLAN_PATH=<full path - only if PLAN_TYPE=customized>
#CUSTOMIZED_PLAN_PATH=/mnt/sas/nfs/SASDEPOT/SAS_Depot/plan_files/plan.xml
 CUSTOMIZED_PLAN_PATH=
#STANDARD_PLAN_NAME=<standard plan name - only if PLAN_TYPE=standard>
 STANDARD_PLAN_NAME=

# Select Deployment Step
# Select the deployment step from your deployment plan that you want to configure on this machine. When you select a deployment step, the products installed on the associated machine according to the selected plan are listed in the lower pane.
#MACHINE_SELECTION=<machine name>
# or
#MACHINE_SELECTION=step <#>
 MACHINE_SELECTION=step 4

# Select Regional Settings
# Select the appropriate regional settings for your SAS software.
#REGION_SETTING=<region setting code>
 REGION_SETTING=en_US
#UNICODE_SERVER=yes/no
 UNICODE_SERVER=no

# Select Configuration Prompting Level
# Select the level of prompting for configuration information dialogs.
#CONFIGURATION_PROMPTS=minimum/moderate/full
 CONFIGURATION_PROMPTS=moderate

# Specify Configuration Information
# Specify the configuration directory and the level within the configuration directory to create your SAS software configuration.
#CONFIGURATION_DIRECTORY=<full path>
#CONFIGURATION_DIRECTORY=/mnt/sas/nfs/SASCFG/gridnode2
 CONFIGURATION_DIRECTORY=
#CONFIGURATION_LEVEL=<subdirectory>
 CONFIGURATION_LEVEL=Lev1


# Select Products to Configure
# Select the products you want to configure on this machine.
 CONFIGURE_SELECTION1=hyperagntc
 CONFIGURE_SELECTION2=evmclient

# Local Machine Name
# Specify the local host name information.
#os.localhost.fqdn.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
#os.localhost.fqdn.host.name=ss-compute-2.private1.ibmssvcnv3.oraclevcn.com
 os.localhost.fqdn.host.name=
#os.localhost.host.name=<text value - leave blank or remove to default on the machine where the SAS Deployment Wizard is running>
#os.localhost.host.name=ss-compute-2
 os.localhost.host.name=

# Migration Information
# Specify migration information if performing migration for this deployment.
#PERFORM_MIGRATION=yes/no
 PERFORM_MIGRATION=no
#MIGRATION_PACKAGE=<full path>
 MIGRATION_PACKAGE=

# SAS Metadata Server
# Specify SAS Metadata Server connection information.
#iomsrv.metadatasrv.host=<text value>
#iomsrv.metadatasrv.host=metadata-0.private1.ibmssvcnv3.oraclevcn.com
 iomsrv.metadatasrv.host=
#iomsrv.metadatasrv.port=<port number value>
 iomsrv.metadatasrv.port=8561

# Deployment Accounts: Type of Accounts
# Select the type of accounts chosen when configuring the Metadata Server. Your connection to the Metadata Server could be refused if you select incorrectly.
#user.account.type.as=internal/external
 user.account.type.as=internal

# SAS Internal Account: Unrestricted Administrator
# Specify the metadata password for the first Unrestricted Administrator identity. The Unrestricted Administrator has unrestricted administrative access to metadata.
#oma.person.admin.login.passwd.internal.as=<password value>
#oma.person.admin.login.passwd.internal.as={sas002}E7E7881F5127FA4B563B91FD33EA4895137FF30A2028EACA356D8114
 oma.person.admin.login.passwd.internal.as=
#oma.person.admin.login.share_passwd=yes/no
 oma.person.admin.login.share_passwd=no

# SAS Environment Manager Agent Configuration
# Specify the SAS Environment Manager/Agent information.
#hyperagntc.agent.setup.camIP=<text value>
#hyperagntc.agent.setup.camIP=ss-compute-1.private1.ibmssvcnv3.oraclevcn.com
 hyperagntc.agent.setup.camIP=
#hyperagntc.agent.setup.camPort=<port number value>
 hyperagntc.agent.setup.camPort=7080
#hyperagntc.agent.setup.camSSLPort=<port number value>
 hyperagntc.agent.setup.camSSLPort=7443
#hyperagntc.agent.setup.agentPort=<port number value>
 hyperagntc.agent.setup.agentPort=2144

# SAS Internal Account: SAS Environment Manager Service Account
# Specify the metadata password for the service identity for SAS Environment Manager Service.
#hyperagntc.admin.passwd.as=<password value>
#hyperagntc.admin.passwd.as={sas002}E7E7881F5127FA4B563B91FD33EA4895137FF30A2028EACA356D8114
 hyperagntc.admin.passwd.as=
